* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  width: auto;
}

#site_title {
  text-align: center;
  background-color: hsl(240, 20%, 30%);
  padding: 10px;
}

#randomize {
  display: block;
  float: left;
  margin: 250px 250px 0 250px;
}

#enter_list {
  height: 30px;
  width: 200px;
}
.button {
  margin: 10px;
  height: 30px;
  width: 100px;
}

.title {
  color: white;
  font-size: 50px;
}

.text {
  font-size: 20px;
}

.boxed {
  border: 3px;
  border-style: solid;
  box-sizing: border-box;
  border-color: hsl(240, 20%, 30%);
  margin: 10px 30px;
}

.float_left {
  float: left;
}
.float_right {
  float: right;
}

.boxed_list {
  display: block;
  height: 90%;
  width: 93%;
}

p[name="box_name"] {
  text-align: center;
}

p[name="directions"] {
  padding: 20px;
}

div[name="indent"] {
  padding-left: 40px;
}

form[name="initial_entry"] {
  text-align: center;
  height: 175px;
  width: 300px;
  margin-left: 45%;
  margin-bottom: 100px;
}

fieldset[name="show_list"] {
  height: 500px;
  width: 35%;
  display: block;
}

a[name="self_tag"] {
  color: white;
  font-size: 15px;
  float: left;
  padding-left: 10px;
}

footer {
  position: fixed; /*Makes footer stay at bottom of page regardless of total content*/
  width: 100%; /* Expands footer color to the entirety of the bottom*/
  bottom: 0; /*sets margin to be absolutely 0 pixels from the bottom of the screen*/
  display: block;
  background: hsl(240, 20%, 30%);
  border-top: 5px solid hsl(240, 20%, 30%); /*adds black lines above and below logos. Helps bottom bar look more full */
  border-bottom: 5px solid hsl(240, 20%, 30%);
  line-height: 30px; /*Sets height of black bar*/
}
